{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    backgroud-color: red;
  }

  #bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: lightblue;
  }

  .primopiano {
    width: 100%;
    height: 400px;
    background-color: #0A018B;
    margin: 0 auto;
    display: flex;
  }

  .secondopiano {
    width: 100%;
    height: 400px;
    background-color: white;
  }

  .terzopiano {
    width: 100%;
    height: 400px;
    background-color: #D3D3D3;
  }

  .quartopiano {
    width: 100%;
    height: 400px;
    background-color: white;
  }

  .quintopiano {
    width: 100%;
    height: 400px;
    background-color: #D3D3D3;
  }

  .sestopiano {
    width: 100%;
    height: 400px;
    background-color: #22272A;
  }

  .settimopiano {
    width: 100%;
    height: 60px;
    background-color: #22272A;
  }

  .box {
    height: 300px;
    width: 600px;
    background-color: #EF82ED;
    justify-content: center;
    align-content: center;
  }

  .azzurro {
    height: 300px;
    width: 60%;
    background-color: #2C90FF;
  }

  .rosa {
    height: 300px;
    width: 40%;
    background-color: #FCC0CA;
  }

  .sinistra,
  .destra {
    height: 300px;
  }

  .sinistra {
    width: 25%;
  }

  .destra {
    width: 75%;
  }